*{
    font-family: Helvetica;
}
h1{
    font-size:100px;
    font-weight: bold;
    color:khaki;
    background-image: url(../images/pattern.jpeg);
}

h2{
    font-size: 32px;
    color: white;
    font-weight: bold;
}

h2.brushes{
    background-color: mediumspringgreen;  
}

h2.frames{
    background-color: lightcoral;  
}

h2.paint{
    background-color: skyblue;  
}

p.price{
 font-weight: bold;
 color: blue;
}
